@charset "utf-8"

@font-face {
  font-family: "Comforter";

  src: url("../fonts/Comforter-Regular.ttf");
}

h1{
	font-family: "Comforter";
	font-size: 50px;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

header {
	background-color: #007bff;
	color: white;
	padding: 15px 20px;
	text-align: center;
}

nav {
	background-color: #0056b3;
	padding: 10px 0;
	text-align: center;
}

nav a {
	color: #fff;
	text-decoration: none;
	margin: 0 15px;
	font-size: 18px;
}

nav a:hover {
	text-decoration: underline;
}

.container {
	max-width: 1200px;
	margin: 20px auto;
	padding: 20px;
	background: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.news-item {
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	margin-top: 20px;
}

.carousel-item img {
	height: 600px;
}

.timer {
	text-align: center;
	margin-top: 20px;
	padding: 20px;
	background: #f8f9fa;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.iframe-box {
	width: 80%;
	margin: 50px auto;
}

.iframe-box iframe {
	border-radius: 10px;
	width: 100%;
	height: 50vh;
}

.fade-in {
	opacity: 0;
	transform: translateY(20px);
	animation: fadeIn 2.0s ease-in-out forwards;
}

@keyframes fadeIn {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}