@charset "utf-8"

@font-face {
  font-family: "Comforter";

  src: url("../fonts/Comforter-Regular.ttf");
}

h1{
	font-family: "Comforter";
	font-size: 50px;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

header {
	background-color: #007bff;
	color: white;
	padding: 15px 20px;
	text-align: center;
}

nav {
	background-color: #0056b3;
	padding: 10px 0;
	text-align: center;
}

nav a {
	color: #fff;
	text-decoration: none;
	margin: 0 15px;
	font-size: 18px;
}

nav a:hover {
	text-decoration: underline;
}

.container {
	max-width: 1200px;
	margin: 20px auto;
	padding: 20px;
	background: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.news-item {
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	margin-top: 20px;
}

.modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: white;
	margin: 15% auto;
	padding: 20px;
	border-radius: 5px;
	width: 300px;
	text-align: center;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-content textarea {
	width: 90%;
	height: 100px;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.modal-content button {
	background-color: #007bff;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.modal-content button:hover {
	background-color: #0056b3;
}

.close {
	color: #aaa;
	float: right;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover {
	color: black;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
}

table,
th,
td {
	border: 1px solid #ddd;
}

th,
td {
	padding: 10px;
	text-align: center;
}

th {
	background-color: #007bff;
	color: white;
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.form-group input,
.form-group textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.form-group textarea {
	resize: vertical;
}

.fade-in {
	opacity: 0;
	transform: translateY(20px);
	animation: fadeIn 2.0s ease-in-out forwards;
}

@keyframes fadeIn {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Анімація обертання */
@keyframes spin {
	from {
		transform: rotate(0deg);
    }
    to {
         transform: rotate(360deg);
    }
}